<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova tarefa</title>
</head>
<body>
    <h1>Adicionar Nova Tarefa</h1>
    <form action="" method="post"> 
        <p>Preencha os campos abaixo para adicionar uma nova tarefa.</p>
        <input type="text" name="nome" placeholder="Título da tarefa" required><br>
        <input type="text" name="descricao" placeholder="Descrição da tarefa" required><br>
        <button type="submit">Adicionar tarefa</button>
    </form>
    <a href="/">Cancelar</a>
</body>
</html>
