<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <a href="/addNova"><button>Adicionar Nova Tarefa</button></a>

    {% if tarefas %}
        <ul>
            {% for tarefa in tarefas %}
                <li>
                    <strong>Título:</strong> {{ tarefa[1] }}<br>
                    <strong>Descrição:</strong> {{ tarefa[2] }}<br>
                    <strong>Status:</strong> 
                    {% if tarefa[3] is true %}
                        Concluída
                    {% else %}
                        Pendente
                    {% endif %}<br>
                    
                    {% if tarefa[3] is not true %}
                        <a href="/concluir/{{ tarefa[0] }}"><button>Concluir</button></a><br>
                    {% endif %}
                    <a href="/editar/{{ tarefa[0] }}"><button>Editar</button></a><br>
                    <a href="/excluir/{{ tarefa[0] }}"><button>Excluir</button></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma tarefa.</p>
    {% endif %}
</body>
</html>
